body {
   background:url('http://i.giphy.com/k8D9UcOEgP00o.gif') no-repeat;
   background-size: cover;
}

h1 {

}

#circle {
    width: 350px;
    height: 350px;
    background: #000;
    border-radius: 100%;
    margin: 0 auto;
    position:relative;
}

#white {
   background: #fff;
    border-radius: 100%;
    width: 175px;
    height: 175px;
    position: relative;
    left: 90px;
    bottom: -80px;
}

#number{
   font-size: 151px;
    color: #000;
    text-align: center;
    font-weight: bold;

}

h1 {
	text-align: center;
	text-transform: uppercase;
    color:#fff;
    word-spacing:8px;
}

#yn{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

#text{
    margin: -17px 9px -5px 542px;
}

#circle p {
    color: #fff;
    height: 15px;
    width: 96px;
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -116px;
    font-size: 39px;
    
}

#question {
    cursor: pointer;
}


















